*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body{
    padding: 8px;
    background-blend-mode: multiply;
    background-image:  url('images/98365.jpg'),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 100vh;
    width: 100vw;
    /* overflow:inherit; */
}


#navbar{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    font-family: arial;

}
#navbar h1{
    color: orange;
    margin-left: 40px;
}
#navbar ul{
    display: flex;
   
}
#navbar ul li{
    list-style: none;
    padding: 30px;
    
}
#navbar h1{
    font-size: 30px;
    margin-right: 40px;
}
#navbar ul li a{
    text-decoration: none;
    transition: all 0.5s;
}

#navbar ul li a:hover{
    color: orange;


}
#navbar input {
    background: transparent;
    font-size: 15px;
    padding: 5px;
    border: 1px solid orange;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    
   
    
}


.content #description {
    width: 50%;
    margin: 60px 69px;
}
#description h2{
    font-size: 34px;
}

#login,#signup{
   
    margin-top: 50px;
    width: 290px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 13px;
    transition: all 1s ;
}
/* #signup{
    transition: all 1s ;
    
} */


span{
    color:orange;
}
#formsection{
    display: flex;
    /* width: 290px; */
    overflow: hidden;
}
#signup{
    /* display: none; */
    /* position: absolute;
    right: -250px; */
    
    opacity: 0;
 
}
#login input,#signup input{
       /* color: white; */
       display: block;
       background: transparent;
       border: none;
       border-bottom: 1px solid orange;
       padding: 5px;
       width: 78%;
       font-family: arial;
       margin-bottom: 20px;
}
#login #loginHere,#signup #signupHere{
    color: orange;
    background-color: white;
    width: 78%;
    border-radius: 5px;
    padding: 8px;
    margin: 20px 0px;


}

#login div span,#signup div span{
    cursor: pointer;
}


#loginbtn,#signupbtn{
    color: black;
    background-color: orange;
    width: 78%;
    border-radius: 5px;
    padding: 8px;
   margin-bottom: 20px;
    border: none;
    cursor: pointer;



}


#loginbtn:hover,#signupbtn:hover{
    background-color: rgb(255, 123, 0);
}

#liw{
    margin: 20px 0px;
}
::placeholder{
    color:white;
}

.icon ion-icon{
    margin: 6px;
    font-size: 30px;
}



/* @media only screen and (max-width: 1150px){
    .content{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #signup,#login{
        min-width: 250px;
    }

} */

@media only screen and (max-width: 1050px){
    body{
        height: auto;
    }
    #navbar h1{
       
        margin-left: 20px;
        margin-right: 40px;
    }
    #navbar ul li{
       
        padding: 30px 15px;
        
    }
    .content{
        flex-wrap: wrap;
    }
    #signup{
        position: absolute;
        top: 0px;
    }
    }
    @media only screen and (max-width: 910px){
        #navbar{
            flex-direction: column;
            
        }
        .content{ 
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            
        }
        .content #description {
            display: block;
            padding: 35px;
            width:70%;
            
        }

        #navbar ul li{
       
            padding: 30px 8px;
            
        }
        #navbar ul{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
     
        #login,#signup{
            width:250px;
        }
       
      


    }

    @media only screen and (max-width: 415px){
        .content #description{
            margin: 15px;
            padding: 10px;
        }
        .content #description{
            font-size: 1rem;
        }
        #navbar ul li{
            padding: 8px;
        }
        #description h2{
            font-size: 25px;
        }
        
    }
